*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
body{
overflow-x: hidden;
}
.parent1{
width: 100%;
height: 55px;
background-color: rgba(218, 205, 205,.5);
  position: fixed;
    top: 0;
   left: 0;      
overflow: auto;
opacity: 1;
z-index: 1;
}
.img1{
    width: 100px;
    height: 50px; 
    border-radius: 20px; 
    margin-left: 17px;
}
.ul1{
    list-style:none ;
float: right;
}
.ul1 li{
 display: inline-block; 
margin:13px 23px;
}
.ul1 li a{
    text-decoration: none;
color: rgb(204, 21, 21);

}
ul  a:hover {
    border-bottom: solid 5px rgb(55, 55, 219) ;
    transition: .2s;
} 
.parent2{
width: 100vw;
height: 100vh;
   background: url(../Images/download1.jpg)  ;   
   background-size: cover;   
}
.title1{
     text-align: center; 
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 25px;
}
.p1{
text-align: center;
font-family:Arial, Helvetica, sans-serif ;
font-weight: 500;
color:  rgb(0, 0, 0);
margin: 20px 0px;
}
.div4{
    width: 70%;
    position: absolute;
      top: 25%; 
     left: 50%; 
      transform: translate(-50%,-50%);   
}
.btn1 {
width: 150px;
height: 50px;
margin-left: 310px;
border-radius: 10px;
background-color: #fff;
border: 0;
color:  rgb(6, 102, 158);
font-size: 15px;
}
.btn2{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgb(6, 102, 158);
    border: none;
    border: 0 ;
    color: #fff;
    font-size: 15px;
}
.btn1:hover , .btn2:hover{
transition: .7s;
cursor: pointer;
background-color: rgb(153, 146, 146);
}
.title2 , .title3 , .partition-title , .title4 ,.pricing-table-title , .collection-title{
    text-align: center;
    margin-top: 20px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hr1 , .nn , .kk{
    width: 130px;
height: 4px;
background-color: rgb(6, 102, 158);

margin: auto;
margin-bottom: 20px;
}
.parent3{
    overflow: auto;
}
.div5 , .div6 , .div7 , .div8 {
width: 250px;
height: 150px;
 background-color: #FCF8E8; 
float: left;
 margin: 40px 30px; 
border-radius: 8px;
}
.div5{
margin-left: 70px;
}
.div5:hover{
    background-image: url(../Images/modes-\(S\).jpg);
}
.div6:hover{
    background-image: url(../Images/Tesla-Model-X-000-v-low-res-1500x850.jpg);
    background-size: cover;
}
.div7:hover{
    background:  url(../Images/Tesla_Model_Y_Preis_Deutschland_Elon_Musk.jpg)  ;
    background-size: cover;
}
.div8:hover{
    background:  url(../Images/2022-tesla-model-3-mmp-1-1640025520.jpg)  ;
    background-size: cover;
}
.pp , .link{
    display: inline-block;
    text-decoration: none;
    
    padding: 30px 70px ;
    color: rgb(204, 21, 21);
      font-family:Arial, Helvetica, sans-serif ;  
    font-weight: 700 ;
}
.link{
    padding-left: 80px;
    color: rgb(18, 91, 248);
    font-weight: 400;
}
.div5:hover  a{
opacity: 0;
}
.div6:hover a{
    opacity: 0;
}
.div7:hover a{
    opacity: 0;
}
.div8:hover a {
    opacity: 0;
}
.contanier2{
width: 100vw;
height: 100vh;
margin: auto;
background-color:  rgb(218, 211, 211);
}
.photos{
    position: relative;
    overflow: auto;   
}
.item{
    display: block;
    float: left;
    width:30%;
     padding: 17px 50px; 
    text-align: center;
    position: relative;
    margin:10px 20px;
}
.photo{
    position: relative;
    margin: auto;
}
.photo img{
    border-radius: 50px 20px;
}
.photo-overley {
position: absolute;
    top: 50px;
    right: 0;
    bottom:0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
 .photo:hover .photo-overley{
    visibility: visible;
    opacity: 1;
    transition: 2s;
    z-index: 2;
} 
.photo-overley p{
    color:rgb(255, 255, 255) ;
    font-size: 30px;
    padding-left: 3px;
}
.photo-overley span{
    color: rgb(255, 255, 255);
    font-size: 20px;

}
.photo-overley i{
    font-size: 22px;
color: #fff;
background-color:   rgb(33, 79, 179);
padding: 8px 8px;
border-radius: 5px;
}
.photo:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border-radius: 50px 20px;
    background-color: rgb(32, 31, 31);
    opacity: 0;
}
.photo:hover:after{
width: 100%;
height: 100%;
opacity: .5;
transition: 1s;
}
.container3{
    width: 90%;
    margin: auto;
}
.partitions{
overflow: auto;
}
.part{
    margin-top: 20px;
    overflow: auto;
float: left;
width: 30%;
height: 150px;
border: 1px solid grey ;
position: relative;
z-index: 2;
}
.icon{
    float: left;
}

.icon i{
     padding: 30px ; 
    font-size: 30px;
    color:rgb(75, 169, 231) ;
    height: 100px;
}
.part-title{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-transform:capitalize ;
line-height:2.4 ;
}
.part-span{
    font-family:'Times New Roman', Times, serif ;
    font-size: 18px;
line-height:1.6 ;
color: rgb(105, 98, 98);
}
.partition-span{
    width: 120px;
    height: 4px;
    background-color: rgb(6, 102, 158);
    margin-left: 45%;
    margin-bottom: 20px;
} 
.cc{
    margin: 0px 5%;
    margin-top: 20px;
}
.part:hover .part-title{
color: #fff;
transition: 1s;
}
.part:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgba(3, 3, 3, 0.9999);
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition:.5s ;
}
.part:hover:after{
    width: 100%;
    height: 100%;
    opacity: .8;
}
.container4{
    height: 500px;
    width: 100vw;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}
.partition4{
    overflow: auto;
    width: 90%;
    margin: auto;
}
.title4{
    text-align: left;
    margin-bottom: 5px;
    font-size: 35px;
}
.hr3 , .pricing-table-line {
    width: 110px;
    height: 5px;
    background-color: rgb(6, 102, 158);
    margin-bottom: 20px;
}
.myimg{
    float: right;
    margin-top: -20px;
}
.myimg img{
height: 250px;
width: 300px;
border-radius: 50px 30px 10px;
position: relative;
}
 .dd{
    list-style-type: none;
    margin: 10px 120px;
 }
   .dd li{
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color:rgb(145, 141, 141);
     float: left;
     margin: 0px 10px;
   }
.dd li:hover{
    background-color:blue;
}
.dd .qq{
    background-color:blue;
}
.mytext{
    width: 500px;
    margin-top: 40px;
    color: rgb(105, 98, 98);
}
.mytext p{
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 18px;
}
.unorderdlist{
    padding-top: 20px;
    line-height: 1.2;
    font-size: 20px;
    list-style-type: square;
}
.unorderdlist li {
    list-style-position: inside;
}
.container5{
width: 100vw;
margin: auto;
height: 350px;
background: url(../Images/course-3.jpg) no-repeat;
background-size: cover;
background-attachment: fixed;
position: relative;
}
.sales{
    overflow: auto;
    width: 100%;
}
.shape1{
    float: left;
    margin: 140px 100px;
}
.es{
    margin-left: 150px;
}
.i{
    font-size: 35px;
    color: rgb(26, 142, 236);
    margin-left:40px ;
}
.shape1-title , .snpshape2{
color: #fff;
padding-left: 10px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
line-height: 1.3px;
}
.shape1-title{
font-size: 32px;
padding-left: 15px;
text-align: center;
}
.snpshape2{
    font-size: 17px;
}
.overley{
    position: absolute;
    background-color: rgb(39, 31, 31,.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pricing-table-title{
    margin-top: 80px ;
    font-size: 40px;
}
.pricing-table-line{
  margin: auto;
}
.container6{
    width: 100vw;
    height: 100vh;
    background-color:  rgb(241, 239, 239);
    
}
.pricing-table{
    overflow: auto;
    width: 90%;
    margin: auto;
}
.plan{
    border: 1px solid black;
    float: left;
    width: 300px;
    height: 350px;
    margin: 80px 3%;
    position: relative;
}
.plan-title{
    text-transform: uppercase;
    text-align: center;
    margin:30px 0px;
    color: #999;
    font-size: 20px;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(26, 142, 236);
    margin: auto;
}
.p1-pp{
font-size: 60px;
font-weight: 900;
margin: 1px 15px;
margin-bottom: -2px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p2{
    font-size: 17px;
text-align: center;
text-transform: uppercase;
font-weight: 400;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pricing-table-list{
    margin: 20px 0px;
    line-height: 1.6;
    font-size: 18px;
    color: #999;
}
.pricing-table-list ul{
list-style-type: none;
text-align: center;
}

.purchase{
margin-left: 90px;
border:2px solid rgb(6, 102, 158);
width: 120px;
height: 25px;
cursor: pointer;
position: absolute;
z-index: 2;
}
.ss{
margin-left: 100px;
}
.plan:hover .plan-title  {
    color: red;
}
.plan:hover .circle {
    color: red;
    transition: 2s;
}

.plan:after{
    content: "";
position: absolute;
width: 100%;
height: 0;
bottom: 0;
left: 0;
background-color: rgba(3, 3, 3,.5 );
opacity: 0;
}
.plan:hover:after{
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: .5;
}
.container7{
    width: 100vw;
    height: 400px;
background:url(../Images/zzz.png)  no-repeat fixed ;
background-size: cover;
position: relative;
}
.paragraph{
    width: 90%;
    margin: auto;
    overflow: auto;
}
.circle-photo{
    float: left;
}
.split{
float: left;
margin: 120px 100px;
}
 .circle-photo img{
width: 80px;
height: 80px;
border-radius: 50%;
}
.circle-text h2{
color: #fff;
font-size: 25px;
padding-top: 15px;
margin-left: 100px;
}
.circle-text p{
    color: rgb(87, 165, 189);
    line-height: 1.8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-left:100px ;
font-weight: 500;
}
.oo{
    padding-top: 20px;
    color: #fff;
}
.overleyo{
    position: absolute;
    background-color: rgba(3, 3, 3, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container8{
    width: 100vw;
}
.collection{
    width: 90%;
    margin: auto; 
overflow: auto;
}
.sec{
    position: relative;
float: left;
margin: 50px 5%;
background-color: rgb(209, 204, 204);
}
.collection-title  {
font-size: 40px;
font-weight: 500;
margin-top: 150px;
}
.nn{
width: 80px;
}
.pic{
    position: relative;
    margin: 20px 40px;
}
.pic img {
    width: 205px;
    height: 250px;
}
.ico {
    position: absolute;
    top: 0;
right: 0;
left: 0;
bottom: 0;
background-color: rgba(66, 63, 63, 0.5);
visibility: hidden;
opacity: 0;
z-index: 2;
}
.sec:hover .ico{
    visibility: visible;
    opacity: 1;
}
.ico a {
    display: block;
    width:40px;
    height:40px;
    background-color: rgb(32, 120, 235);
    color: #fff;
    margin-left: auto;
    padding: 10px 15px;
}
.part-text{
text-align: center;
line-height: 1.5;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-top: -10px;
}
.part-text p{
    font-size: 20px;
    font-weight: 600;
}
.part-text span{
    color: rgb(168, 161, 161);
    text-transform: uppercase;
}
.sec:hover .part-text span{
    color:rgb(32, 120, 235) ;
    transition: 1s;
}
.sec:hover .part-text p{
    color: #fff;
    transition: 1s;
}
.sec:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(12, 12, 12, 0.5);
opacity: 0;
}
.sec:hover:after{
width: 100%;
height: 100%;
opacity: .5;
transition: 1s;
}
.sec::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    background-color: rgba(12, 12, 12, 0.5);
opacity: 0;
}
.sec:hover:before{
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: 1s;
}
.container9{
    width: 100vw;
}
.news{
    width: 90%;
    margin: auto;
overflow: auto;
}
.news-part{
    float: left;
    margin: 20px 4%;
    width: 300px;
    position: relative;
    height: 500px;
}
.news-photo{
    margin: 20px 25px;
}
.news-photo img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.news-title h2{
    text-align: center;
font-size: 35px;
font-weight: 700;
padding-top: 50px;
}
.news-icons{
    margin:10px 32px ;
}
.news-icons i{
color: rgb(37, 145, 196);
}
.news-icons label{
    font-size: 14px;
}
.news-text{
margin-left: 32px;
}
.news-text p{
    font-size: 20px;
    font-weight: 600;
}
.news-text span{
    display: block;
    color: rgb(168, 161, 161);
    padding: 20px 0px;
    font-size: 17px;
}
.news-part a{
    text-decoration: none;
    padding-left: 120px;
    color: rgb(37, 145, 196);
}
.news-part:after{
    content: "";
    position: absolute;
    width: 0;
height: 0;
top: 0;
left: 0;
background-color: rgba(80, 102, 228, 0.2);
opacity: 0;
z-index: -1;
border-radius: 20px;

}
.news-part:hover:after{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 1s;
}
.news-part:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(80, 102, 228, 0.2);
    opacity: 0;
    z-index: -1;
    border-radius: 20px;

}
.news-part:hover:before{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 1s;
}
footer{
    width: 100%;
height: 300px;
background-color: #2f4c53;
}
.foot-part{
    width: 50%;
    margin: auto;
}
.foot-img {
    text-align: center;
}
.foot-img img{
    width: 170px;
    height: 70px;
    margin-top: 90px;
}
.foot-icon a{
    font-size: 28px;
    color:#fff;
     background-color: rgb(81, 149, 238);
    width: 80px;
    height: 80px;
    border-radius: 50%;
padding: 10px 11px;
transition: .7s;
}

.foot-icon{
    margin:20px 0px;
    text-align: center;
}
.foot-text{
    text-align: center;
    color: rgb(168, 161, 161);
font-size: 12px;
}
.foot-icon a:hover{
    background-color: rgb(39, 87, 177);
}
